@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "Coolvetica Compressed";
	src: url("/fonts/coolvetica compressed rg.ttf") format("truetype");
}

@font-face {
	font-family: "Coolvetica Condensed";
	src: url("/fonts/coolvetica condensed rg.ttf") format("truetype");
}

@font-face {
	font-family: "Coolvetica Crammed";
	src: url("/fonts/coolvetica crammed rg.ttf") format("truetype");
}

@font-face {
	font-family: "Coolvetica Regular";
	src: url("/fonts/coolvetica rg.ttf") format("truetype");
}

@font-face {
	font-family: "Coolvetica";
	src: url("/fonts/coolvetica rg.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Coolvetica";
	src: url("/fonts/CoolveticaBk-Italic.ttf") format("truetype");
	font-weight: 700;
	font-style: italic;
}

@font-face {
	font-family: "Coolvetica";
	src: url("/fonts/CoolveticaBk-Regular.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "Coolvetica";
	src: url("/fonts/CoolveticaEl-Italic.ttf") format("truetype");
	font-weight: 200;
	font-style: italic;
}

@font-face {
	font-family: "Coolvetica";
	src: url("/fonts/CoolveticaEl-Regular.ttf") format("truetype");
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: "Coolvetica";
	src: url("/fonts/CoolveticaHv-Italic.ttf") format("truetype");
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: "Coolvetica";
	src: url("/fonts/CoolveticaHv-Regular.ttf") format("truetype");
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: "Coolvetica";
	src: url("/fonts/CoolveticaLt-Italic.ttf") format("truetype");
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: "Coolvetica";
	src: url("/fonts/CoolveticaLt-Regular.ttf") format("truetype");
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: "Coolvetica";
	src: url("/fonts/CoolveticaRg-Bold.ttf") format("truetype");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: "Coolvetica";
	src: url("/fonts/CoolveticaRg-BoldItalic.ttf") format("truetype");
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: "Coolvetica";
	src: url("/fonts/CoolveticaRg-Italic.ttf") format("truetype");
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: "Coolvetica";
	src: url("/fonts/CoolveticaRg-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Coolvetica Ul";
	src: url("/fonts/CoolveticaUl-Italic.ttf") format("truetype");
	font-style: italic;
}

@font-face {
	font-family: "Coolvetica Ul";
	src: url("/fonts/CoolveticaUl-Regular.ttf") format("truetype");
	font-style: normal;
}

:root {
	font-family: Inter, Coolvetica, system-ui, Avenir, Helvetica, Arial,
		sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(3, 3, 3, 0.87);
	background-color: black;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

::-webkit-scrollbar {
	width: 1 rem;
}

::-webkit-scrollbar-thumb {
	background-color: #000000;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type="number"]::-moz-number-spin-box {
	-moz-appearance: textfield;
}

h1 {
	padding: 0.25rem 0px;
	font-size: 1.5rem;
}
h2 {
	padding: 0.25rem 0px;
	font-size: 1.25rem;
}
p {
	font-size: 0.8rem;
	padding: 0px;
	padding-bottom: 0.25rem;
	margin: 0px;
}
.directions {
	position: absolute;
	width: 275px;
	top: 0px;
	right: 0px;
	padding: 1.25rem;
	padding-top: 0px;
	margin: 0.25rem;
	color: white;
	background-color: #2d3748;
	border-radius: 0.25rem;
}
ul {
	padding: 0px;
	padding-left: 1.5rem;
	margin: 0px;
}
li button {
	color: #f6e05e;
	background: none;
	border: none;
	cursor: pointer;
}
